html {
  background-color: #eee;
}

body {
  text-align: center;
}

#panel {
  margin: 1em;
  padding: 1em;
  width: 350px;
  height: 250px;
  box-sizing: content-box;
  border: 1px solid #000;
  display: block;
}

magnet-block {
  > div {
    margin: 0;
    padding: 1em;
    width: 6em;
    height: 3em;
    line-height: 1em;
    box-sizing: border-box;
  }

  &:nth-of-type(1) {
    background-color: #fcc;
  }
  &:nth-of-type(2) {
    background-color: #ffc;
  }
  &:nth-of-type(3) {
    background-color: #cfc;
  }
  &:nth-of-type(4) {
    background-color: #cff;
  }
  &:nth-of-type(5) {
    background-color: #ccf;
  }
  &:nth-of-type(6) {
    background-color: #fcf;
  }
}

.row {
  margin: 0.5em;
  vertical-align: middle;
  
  input {
    font-family: monospace;
    font-size: 0.85rem;
    vertical-align: text-top;
  }

  .name {
    font-weight: bold;
  }
}
